	<% if @cart_cds2!=nil %>

<% if @cart_cds2.errors.any? %>

        <%= @cart_cds2.errors.count %>件のエラーが発生しました
        <% @cart_cds2.errors.full_messages.each do |message| %>
            <%= message %><br>
        <% end %>
    <% end %>
<%end%>
	<div class="clearfix">
	<div class="cd_show clearfix"><%= attachment_image_tag @cd, :jacket, :fill, 500, 500,fallback: "no_image.jpg" %></div>
	<div class="cd_show clearfix">
	<h3>CD名:<%= @cd.cd_name %></h3
>
	<h3>値段:<%= @cd.price %>円</h3>
	<h3>在庫:<%= @cd.stock %>個</h3>
	<h3>アーティスト名:<%=@cd.artist.name%></h3>
	<h3>ジャンル:<%=@cd.genre%></h3>
	<h3>レーベル名:<%=@cd.label%></h3>
	<% n=1 %>
	<% a=1 %>
		<% @cd.discs.each do |disc| %>
		<h4>disc<%=n%></h4>
	<%= disc.disc_name %>
	<% disc.songs.each do |song| %>
	<h4>song<%=a%></h4>
	<%= song.song_name %>
	<%a=a+1 %>
	<% end %>
	<%n=n+1 %>
	<% end %>
	 <% if user_signed_in? %>
	 <div class="cart">
	<%if current_user.cart.cart_cds.find_by(cd_id: @cd.id).nil? %>
	<%=form_for @cart_cds,url:user_cart_cart_cds_path(cart_id:current_user.cart.id,cd_id: @cd.id,user_id: current_user.id) do |f|%>
	
	<%=f.number_field :number,min: 1,max: @cd.stock %>
	<%=f.submit "カートに追加"%>
	<% end %>
	<%else%>
	 <% if @cd.stock-current_user.cart.cart_cds.find_by(cd_id: @cd.id).number>=0 %>
	<%=form_for @cart_cds,url:user_cart_cart_cds_path(cart_id:current_user.cart.id,cd_id: @cd.id,user_id: current_user.id) do |f|%>
	
	<%=f.number_field :number,min: 1,max: @cd.stock %>
	<%=f.submit "カートに追加"%>
	<% end %>
	
	<%else%>
	<h2>sold out</h2>
	<%end%><br>
<%end%>
</div>
	<%end%></div>
	</div>

	 <% if user_signed_in? %>
	<% if @cd.favorited_by?(current_user) %>
	<li>
		<%= link_to cd_cd_favorite_path(@cd),method: :delete do %>
			<i class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: red;"></i>
			<span class="good">
		      <%= @cd.cd_favorites.where(favorite: 0).count %>
		  </span>
		<% end %>
		
	</li>

	<% else %>
	  <li>
	    <%= link_to cd_cd_favorites_path(cd_id: @cd.id,favorite: 0), method: :post do %>
	    <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
	    <span class="good">
	      <%= @cd.cd_favorites.where(favorite: 0).count %></span>
	      <% end %>
	    
	  </li>
	<% end %>


	 <% if @user_comment.errors.any? %>
        <%= @user_comment.errors.count %>件のエラーが発生しました
        <% @user_comment.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>

	<%= form_for @user_comment,url: cd_user_comments_path(@cd.id) do |f| %>
	            <%= f.text_area :body, class: "form-control",placeholder: "コメントをここに" %>
	    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	<% end %>
<%end %>
<% if @user_comment2!=nil %>
<% if @user_comment2.errors.any? %>

        <%= @user_comment2.errors.count %>件のエラーが発生しました
        <% @user_comment2.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
   <%end%>
	<%@comments.each do |comment| %>
	<div>
	<%if comment.class==UserComment %>
	<%=comment.user.name %>
	<%= attachment_image_tag comment.user, :image, :fill, 100, 100,fallback: "no_image.jpg" %>
	<span>:<%=comment.body %></span>
	<%if current_user.id==comment.user.id %>
	<%=link_to "destroy",cd_user_comment_path(id: comment.id,cd_id: comment.cd_id),method: :delete,class:"btn btn-default"%>
	<%end%>
	<%elsif comment.class==ArtistComment %>
	<span><%=comment.artist.name %>
	<%= attachment_image_tag comment.artist, :image, :fill, 100, 100,fallback: "no_image.jpg" %></span>
	<span>:<%=comment.body %></span>


	</div>
	<% end %>
	<%end %>