
<h2>マイページ</h2>
<table class="table">
	<%= attachment_image_tag @artist, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
	<tr>
		<td>name</td>
		<td><%=@artist.name %></td>
	</tr>
	<tr>
		<td>introduction</td>
		<td><%=@artist.introduction %></td>
	</tr>
</table>
<% artist.cds.all.each do |cd| %>
<%=cd.cd_name %>
<%= attachment_image_tag @artist, :jacket, :fill, 100, 100, fallback: "no_image.jpg" %>
<% if status==0 %>
申請中
<% else %>
販売中
<% end %>
<%(cd.user_comments.all+cd.artist_comments.all).sort_by{|comments| comments.created_at}.each do |comment| %>
	<div>
	<%if comment.class==UserComment %>
	<%=comment.user.name %>
	<%= attachment_image_tag comment.user, :image, :fill, 100, 100,fallback: "no_image.jpg" %>
	<%elsif comment.class==ArtistComment %>
	<span><%=comment.artist.name %>
	<%= attachment_image_tag comment.artist, :image, :fill, 100, 100,fallback: "no_image.jpg" %></span>
	<%end%>
	<span>:<%=comment.body %></span>
	</div>
	<% end %>
<%end%>
