<div class="nest-feild-discs">
	<table><tr><th>disc名</th>
		<th></th>
	</tr>
		<tr><td><%=f.text_field :disc_name,class:"form-control" %></td>
			<td><%= link_to_remove_association "delete", f,class:"btn btn-default" %></td>
		</tr>
	</table>
	<h3>song情報</h3>
	<%= f.fields_for :songs do |song|%>
	<div><%= render "song_fields", f: song %></div>
	<% end %>
	<div><%= link_to_add_association "songを追加",f,:songs,class:"btn btn-default" %></div>
</div>