<div class="nest-feild-discs">
  <h3>disc名</h3>
  <%=f.text_field :disc_name %>
  <%= link_to_remove_association "delete", f %>
  <h2>song情報</h2>
  <%= f.fields_for :songs do |song|%>
  <div><%= render "song_fields", f: song %></div>
  <% end %>
  <div><%= link_to_add_association "songを追加",f,:songs,class:"btn btn-default" %></div>
</div>
