<h1><%= attachment_image_tag @artist, :image, :fill, 100, 100, fallback: "no_image.jpg" %></h1>
<table class="table">
	<tr>
		<td>name</td>
		<td><%=@artist.name %></td>
	</tr>
	<tr>
		<td>introduction</td>
		<td><%=@artist.introduction%></td>
	</tr>
</table>
<% if @artist.favorited_by?(current_user) %>
<li>
<%= link_to every_artist_artist_favorite_path(@artist),method: :delete do %>
	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @artist.artist_favorites.count %> いいね
    <% end %>
<% else %>
  <li>
    <%= link_to every_artist_artist_favorites_path(@artist), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @artist.artist_favorites.count %> いいね
    <% end %>
  </li>
<% end %>

<%= @artist.cds.each do |cd| %>
<%= link_to cd_path(cd.id) do%>
<%= attachment_image_tag cd,:jacket, :fill, 100, 100,fallback: "no_image.jpg" %>
<%end%>
<h2><%= cd.price %>円</h2>
<h2>在庫</h2>
<h2><%=cd.stock %>個</h2>
<% end %>