<h1>カート</h1>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>CD情報</th>
      <th>枚数</th>
      <th>値段</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% n = 1 %>
    <%= n %>
    <%= @cart.cart_cds.each do |cart_cd| %>
      <tr>
        <td><%= n %></td>
        <td><%= cart_cd.cd.jacket_id %><%= cart_cd.cd.artist.name %><br><%= cart_cd.cd.cd_name %></td>
        <td><%= %></td>
        <td><%= cart_cd.cd.price %></td>
        <td>カートから外す</td>
      </tr>
    <% end %>
  </tbody>
</table>
