
<h2>マイページ</h2>
<table class="table">
  <%= attachment_image_tag @artist, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
  <tr>
    <td>name</td>
    <td><%=@artist.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%=@artist.introduction %></td>
  </tr>
</table>
<%= link_to "編集",edit_admins_artist_path(@artist),class:"btn btn-warning"%>
<%= link_to "消去", admins_artist_path(@artist),method: :delete,class:"btn btn-danger","data-confirm"=>"本当に消去しますか" %>
<table class="table table-striped">
	<tr>
	<td>CD名</td>
	<td></td>
	<td>状況</td>
	<td></td>
	<td></td>
	</tr>
<% @artist.cds.all.each do |cd| %>
<tr>
<th><%=cd.cd_name %></th>
<th><%= attachment_image_tag cd, :jacket, :fill, 100, 100, fallback: "no_image.jpg" %></th>
<th><% if cd.status==0 %>
申請中
<% else %>
販売中
<% end %>
</th>
<th><%= link_to "編集", edit_admins_cd_path(cd) %></th>
<th><%= link_to "消去", admins_cd_path(cd),method: :delete,"data-confirm"=>"本当に消去しますか" %></th>
</tr>
<%end%>
</table>