<h2>マイページ</h2>
<table class="table">
	<%= attachment_image_tag @artist, :image, :fill, 100, 100, fallback: "no_image.jpg" %><h2></h2>
	<tr>
		<td>name</td>
		<td><%=@artist.name %></td>
	</tr>
	<tr>
		<td>introduction</td>
		<td><%=@artist.introduction %></td>
	</tr>
</table>
<% if @artist.id==current_artist.id %>

<%=link_to "",edit_artists_artist_path(current_artist.id),class:"col-xs-4 btn btn-default glyphicon glyphicon-wrench edit_user_378"%>
<% end %><br>
<h1></h1>
<% @artist.cds.all.each do |cd| %>
<table>
	<tr>
		<th>CD名</th>
		<th></th>
		<th>状況</th>
		<th></th>
	</tr>
	<tr>
		<td><%=link_to cd.cd_name,artists_cd_path(cd.id) %></td>
	<td><%= attachment_image_tag cd, :jacket, :fill, 50, 50, fallback: "no_image.jpg" %></td>
<td><% if cd.status==0 %>
申請中
<% else %>
販売中
<% end %></td>
<td><%=link_to "destroy",artists_cd_path(cd.id),method: :'delete',class:"btn btn-success","data-confirm"=>"本当に消去しますか"%></td>
<td><%=link_to "edit",edit_artists_cd_path(cd.id),class:"btn btn-info"%></td>
	</tr>
</table>

<h1></h1>
<% if @artist_comment2!=nil %>
<% if @artist_comment2.errors.any? %>

        <%= @artist_comment2.errors.count %>件のエラーが発生しました
        <% @artist_comment2.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
   <%end%>
<%= form_for @artist_comment,url: artists_cd_artist_comments_path(cd.id) do |f| %>
            <%= f.text_area :body, class: "form-control",placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>
<h1></h1>
<div>
<%(cd.user_comments.all+cd.artist_comments.all).sort_by{|comments| comments.created_at}.each do |comment| %>
	<div>
	<%if comment.class==UserComment %>
	<%=comment.user.name %>
		<span>:<%=comment.body %></span>
	<%= attachment_image_tag comment.user, :image, :fill, 50, 50,fallback: "no_image.jpg" %>
	<%elsif comment.class==ArtistComment %>
	<span><%=comment.artist.name %>
	<%= attachment_image_tag comment.artist, :image, :fill, 50, 50,fallback: "no_image.jpg" %></span>
		<span>:<%=comment.body %></span>
	<%if current_artist.id==comment.artist.id %>
	<%=link_to "destroy",artists_cd_artist_comment_path(id: comment.id,cd_id: comment.cd_id),method: :delete,class:"btn btn-default","data-confirm"=>"本当に消去しますか"%>
	<%end%>
	<%end%>

	</div>
	<% end %>
<%end%>
<h2></h2>
<%#=link_to "CD申請",new_artists_cd_path,class:"btn btn-success" %>
<h2>CD状況</h2>
<table class="table table-bordered">
	<tr>
	<th>User名</th>
	<th>CD</th>
	<th>状況</th>
	<th></th>
</tr>
<tr>
<% OrderlistCd.all.each do |orderlist_cd| %>
<%if orderlist_cd.cd.present?%>
<% if orderlist_cd.cd.artist_id==current_artist.id%>
<% cd=orderlist_cd.cd%>
<td><%=orderlist_cd.orderlist.user.name%></td>
<td><%=cd.cd_name %></td>
<% if orderlist_cd.orderlist.status==0 %>
<td>発送準備中</td>
<td><%=link_to "発送中に変換",artists_orderlists_permit_path(orderlist_cd.orderlist.id)%></td>

<% elsif orderlist_cd.orderlist.status==1 %>
<td>発送中</td>
<td><%=link_to "発送済みに変換",artists_orderlists_permit_path(orderlist_cd.orderlist.id)%></td>

<% elsif orderlist_cd.orderlist.status==2 %>

<td>発送済み</td>
<%else %>
<td>エラー</td>
<% end %>
<%end%>
<%end%>
<%end%>
</tr>
</table>

<h1></h1>