<h1>履歴</h1>
<table class="table table-striped">
  <tbody>
    <% @orderlists.each do |orderlist| %>
      <p><%= orderlist.created_at %></p>
      <%= oderlist.orderlist_cds.each do |orderlist_cd| %>
        <tr>
          <td><%= orderlist_cd.cd.jacket_id %><%= orderlist_cd.cd.artist.name %><br><%= orderlist_cd.cd.cd_name %></td>
          <td><%= orderlist_cd.number %></td>
          <td><%= cart_cd.cd.price %></td>
        </tr>
      <% end %>
    <% end%>
  </tbody>
</table>
